In [17]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')

In [18]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [19]:
# no of rows and columns in dataframe
df.shape

(51, 6)

In [20]:
# list the column names
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [21]:
# remove NaN(Not a Number) values to remove missing/junk data
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [22]:
#looks like last row has some NaN values so lets drop that row
# craete a new df with last row removed
clean_df = df.dropna()

In [23]:
# access particular column values
clean_df["Starting Median Salary"]

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [24]:
#find highest starting salary, chain max method
clean_df["Starting Median Salary"].max()

74300.0

In [25]:
# but which college major earns the max, we need to know the row number or index of above record
clean_df['Starting Median Salary'].idxmax()

43

In [26]:
# so index of row is 43, to see the major that corresponds to that particular row, we can use .loc property
clean_df['Undergraduate Major'].loc[43]
#we can use the .loc property to get entire row if we do not want a specific column value

'Physician Assistant'

In [31]:
# What college major has the highest mid-career salary? How much do graduates with this major earn?
# clean_df["Mid-Career Median Salary"].max()
print(clean_df['Mid-Career Median Salary'].max())
print(clean_df['Mid-Career Median Salary'].idxmax())
print(clean_df['Undergraduate Major'].loc[8])

107000.0
8
Chemical Engineering

In [33]:
#Which college major has the lowest starting salary and how much do graduates earn after university?
print(clean_df["Starting Median Salary"].min())
print(clean_df['Undergraduate Major'].loc[clean_df["Starting Median Salary"].idxmin()])

34000.0
Spanish

In [34]:
# Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?
print(clean_df['Mid-Career Median Salary'].min())
print(clean_df['Undergraduate Major'].loc[clean_df["Mid-Career Median Salary"].idxmin()])

52000.0
Education